
//ANIMATION COEUR
.fa-heart {
  position: absolute;
}

.iconRempli {
  z-index: 0;
  transform: scale(0);
  opacity: 0;
  background: $couleurCoeur;
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
  transition: all 400ms ease-in;
}

.far{
  z-index: 10;

}

.like {
  display: none;


  &:checked + label + .iconRempli  {

    transform: scale(1);
    opacity: 1;
    //background: $couleurCoeur;
    //-webkit-background-clip: text;
    //-webkit-text-fill-color:transparent;
  }
  &:checked + .coeur{

    transition: color 400ms ease-in;
    color: transparent;
    //font-weight: bold;
    //background: $couleurCoeur;
  }

}
.coeur {
  transition: all 400ms ease-in;
  z-index: 10;
  cursor: pointer;
}


//ANIMATION CARD RESTAURANT
.rightCard{
  width: 0;
  overflow: hidden;
  background-color: $couleurTertiaire;
  @include alignementCentral;
  margin-left: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: white;
  transition: all 500ms ease-in-out;
}
.leftCard{
  width: 100%;
  transition: all 500ms ease-in-out;
}

.blocMenu{
  .card{
    display: flex;
    &:hover{
      .rightCard{
        transition: all 500ms ease-in-out;
        width: 20%;

      }
      .leftCard{
        transition: all 500ms ease-in-out;
        width: 80%;
      }
      .fas {
        transform: rotate(360deg);
        transition: transform 500ms ease-in-out;
      }
    }
    .fas {
      margin-right: 0;
    }
  }
}


//ANIMATION APPARITION CARD RESTAURANT

.blocMenu{
  .card{
  &:nth-child(2){
    animation: apparitionBloc 1s;
  }
  &:nth-child(3){
    animation: apparitionBloc 2s;
  }
  &:nth-child(4){
    animation: apparitionBloc 3s;
  }
  &:nth-child(5){
    animation: apparitionBloc 4s;
  }
  }
}

@keyframes apparitionBloc {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
