
//ANIMATION COEUR
.fa-heart {
  position: absolute;
}

.iconRempli {
  z-index: 0;
  transform: scale(0);
  opacity: 0;
  background: $couleurCoeur;
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
  transition: all 400ms ease-in-out;
}

.far{
  z-index: 10;

}

.like {
  display: none;


  &:checked + label + .iconRempli  {

    transform: scale(1);
    opacity: 1;
    //background: $couleurCoeur;
    //-webkit-background-clip: text;
    //-webkit-text-fill-color:transparent;
  }
  &:checked + .coeur{

    color: $couleurPrimaire;
    //font-weight: bold;
    //background: $couleurCoeur;
  }

}
.coeur {
  transition: all 400ms ease-in-out;
  z-index: 10;
  cursor: pointer;
}


//ANIMATION CARD RESTAURANT
.rightCard{
  width: 0%;
  overflow: hidden;
  background-color: $couleurTertiaire;
  @include alignementCentral;
  margin-left: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: white;
  transition: all 500ms ease-in-out;
}
.leftCard{
  width: 100%;
  transition: all 500ms ease-in-out;
}

.blocMenu{
  .card{
    display: flex;
    &:hover{
      .rightCard{
        transition: all 500ms ease-in-out;
        width: 20%;

      }
      .leftCard{
        transition: all 500ms ease-in-out;
        width: 80%;
      }
      .fas {
        transform: rotate(360deg);
        transition: transform 500ms ease-in-out;
      }
    }
    .fas {
      margin-right: 0;
    }
  }
}

