.fa-heart {
  position: absolute;
}

.iconRempli {
  z-index: 0;
  transform: scale(0);
  opacity: 0;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
  transition: all 500ms;
}

.far{
  z-index: 10;
}

.like {
  position: absolute;
  left: -100vw;
  transition: all 500ms;

  &:checked + label + .iconRempli {
    transform: scale(1);
    opacity: 1;
    background: linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
  }
  &:checked + label{

    color: transparent;
  }

}
.coeur {

  z-index: 10;
  cursor: pointer;
}


