@mixin alignementCentral {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin justifyBetween{
  display: flex;
  justify-content: space-between;
}

@mixin font($fontWeight: 300){
  font-family: "Roboto", sans-serif;
  font-weight: $fontWeight;
}

@mixin policeLogo(){
  font-family: "Shrikhand", sans-serif;
  font-weight: normal;
}

@mixin boxShadow(){
  box-shadow: 0px 4px 20px -10px black;
}

@mixin responsive($size){
  @if $size == tablette {
    @media (min-width: 771px) and (max-width: 1099px) { @content; }
  } @else if $size == ordinateur {
    @media (min-width: 1100px) { @content; }
  }
}


