@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap');


.textGras{
  @include font(500);
  font-size: 1.1rem;
}

.textMajuscule{
  text-transform: uppercase;
}

.textEllipsis{
  overflow: hidden;
  text-overflow: ellipsis;
}
