@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap");
.textCenter {
  text-align: center;
}

.textGras {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
}

.textMajuscule {
  text-transform: uppercase;
}

.textEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.fa-heart {
  position: absolute;
}

.iconRempli {
  z-index: 0;
  transform: scale(0);
  opacity: 0;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 400ms ease-in-out;
}

.far {
  z-index: 10;
}

.like {
  display: none;
}
.like:checked + label + .iconRempli {
  transform: scale(1);
  opacity: 1;
}
.like:checked + .coeur {
  color: #9356DC;
}

.coeur {
  transition: all 400ms ease-in-out;
  z-index: 10;
  cursor: pointer;
}

.rightCard {
  width: 0;
  overflow: hidden;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: white;
  transition: all 500ms ease-in-out;
}

.leftCard {
  width: 100%;
  transition: all 500ms ease-in-out;
}

.blocMenu .card {
  display: flex;
}
.blocMenu .card:hover .rightCard {
  transition: all 500ms ease-in-out;
  width: 20%;
}
.blocMenu .card:hover .leftCard {
  transition: all 500ms ease-in-out;
  width: 80%;
}
.blocMenu .card:hover .fas {
  transform: rotate(360deg);
  transition: transform 500ms ease-in-out;
}
.blocMenu .card .fas {
  margin-right: 0;
}

.blocMenu .card:nth-child(2) {
  animation: apparitionBloc 1s;
}
.blocMenu .card:nth-child(3) {
  animation: apparitionBloc 2s;
}
.blocMenu .card:nth-child(4) {
  animation: apparitionBloc 3s;
}
.blocMenu .card:nth-child(5) {
  animation: apparitionBloc 4s;
}

@keyframes apparitionBloc {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  font-size: 3rem;
  letter-spacing: 1rem;
  font-family: "Shrikhand", sans-serif;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#9356DC, #FF79DA);
  z-index: 999;
  transform: scale(0);
  opacity: 0;
  animation: loader 3s ease-in-out;
}
.loader span {
  margin: 0 -0.05em;
  transform-origin: 50% 50% -25px;
  animation: loaderLettre 1.6s infinite;
}
.loader span:nth-child(1) {
  animation-delay: 0.1s;
}
.loader span:nth-child(2) {
  animation-delay: 0.2s;
}
.loader span:nth-child(3) {
  animation-delay: 0.3s;
}
.loader span:nth-child(4) {
  animation-delay: 0.4s;
}
.loader span:nth-child(5) {
  animation-delay: 0.5s;
}
.loader span:nth-child(6) {
  animation-delay: 0.6s;
}
.loader span:nth-child(7) {
  animation-delay: 0.7s;
}
.loader span:nth-child(8) {
  animation-delay: 0.8s;
}
@media (min-width: 768px) {
  .loader {
    font-size: 5rem;
  }
}
@media (min-width: 1265px) {
  .loader {
    font-size: 8rem;
  }
}

@keyframes loader {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  99% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
@keyframes loaderLettre {
  0% {
    transform: rotateX(-360deg);
  }
  70% {
    transform: rotateX(0);
  }
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
header h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
}
header .fas {
  position: absolute;
}
@media (min-width: 768px) {
  header .fas {
    font-size: 2rem;
    position: initial;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
@media (min-width: 1265px) {
  body {
    background: linear-gradient(#9356DC, #FF79DA);
  }
}

h1 {
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
}

.margin0 {
  margin: 0;
}

.margin1REM {
  margin: 1rem;
}

.padding0 {
  padding: 0;
}

.alignementCentral {
  display: flex;
  justify-content: center;
  align-items: center;
}

.padding1REM {
  padding: 1rem;
}

.padding2REM {
  padding: 2rem;
}

.localisation {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border-top: #d2d2d2 3px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #eaeaea;
}
@media (min-width: 1265px) {
  .localisation {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
  }
}

.fas {
  margin-right: 1rem;
}

.background {
  background-color: #f6f6f6;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  cursor: pointer;
  font-size: 1rem;
  background: linear-gradient(360deg, #9356DC, #FF79DA);
  border-radius: 2rem;
  padding: 1rem 2rem 1rem 2rem;
  color: white;
  border: none;
  box-shadow: 0px 4px 20px -10px black;
}
.btn:hover {
  filter: brightness(1.1);
  box-shadow: 0px 8px 28px -8px black;
}

@media (min-width: 1265px) {
  #reserverMenu > .background {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}

#fonctionnement {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
@media (min-width: 1265px) {
  #fonctionnement {
    display: flex;
  }
}

.divFonctionnement {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: normal;
  background-color: #f6f6f6;
  padding: 26px;
  margin: 2rem;
  border-radius: 2rem;
  position: relative;
  box-shadow: 0px 4px 20px -10px black;
}
@media (min-width: 768px) {
  .divFonctionnement:nth-child(2) {
    margin-left: 10rem;
  }
  .divFonctionnement:nth-child(3) {
    margin-left: 20rem;
  }
}
.divFonctionnement:hover {
  background: #f5edff;
}
.divFonctionnement:hover .fas {
  color: #9356DC;
}

@media (min-width: 1265px) {
  .listeFonctionnement {
    width: 80%;
  }
}

.numeroFonctionnement {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: #9356DC;
  color: white;
  border-radius: 10rem;
  left: -15px;
}

#restaurants {
  padding-bottom: 2rem;
}
#restaurants a {
  color: black;
}
@media (min-width: 1265px) {
  #restaurants {
    border-radius: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
}

.marginCoeur {
  margin-right: 2rem;
}

@media (min-width: 1265px) {
  .fa-heart {
    font-size: 2rem;
  }
}

.card {
  position: relative;
  background-color: white;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 4px 20px -10px black;
}
.card img {
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  height: 170px;
  object-fit: cover;
}
.card .nomRestaurant {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.card .cardText {
  padding: 1rem;
  line-height: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.card p {
  margin: 0;
}
.card .far, .card .fas {
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .card {
    width: 40%;
  }
}
@media (min-width: 1265px) {
  .card {
    width: 20%;
  }
}

.nouveauRestaurant {
  position: absolute;
  right: 15px;
  top: 15px;
  background: #99e2d0;
  padding: 0.5rem;
  color: #098c6c;
  font-weight: bold;
}

@media (min-width: 768px) {
  .groupCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

a {
  text-decoration: none;
  color: black;
}

#pageRestaurant .card {
  padding-left: 10px;
  cursor: pointer;
  white-space: nowrap;
  line-height: 1.5rem;
}
#pageRestaurant .card .leftCard {
  padding-bottom: 10px;
  padding-top: 10px;
}
#pageRestaurant .card span {
  font-size: 14px;
}
#pageRestaurant .card span:first-child {
  width: 80%;
}
@media (min-width: 768px) {
  #pageRestaurant .card {
    width: auto;
  }
}
@media (min-width: 1265px) {
  #pageRestaurant {
    border-radius: 1rem;
  }
}

@media (min-width: 768px) {
  .groupMenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.width100 {
  width: 100%;
}

.justifyBetween {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cardRestaurant {
  position: relative;
  top: -3rem;
  border-radius: 1rem;
  padding-top: 1rem;
}
.cardRestaurant h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: normal;
  display: flex;
  justify-content: space-between;
  font-size: 1.7rem;
}

.blocMenu {
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .blocMenu {
    width: 33%;
  }
}

.textSouligne {
  box-shadow: 0px 3px 0px 0px #99E2D0;
  width: 2.5rem;
}

.img {
  width: 100%;
  height: 270px;
  object-fit: cover;
}
@media (min-width: 1265px) {
  .img {
    border-radius: 1rem;
  }
}

@media (min-width: 1265px) {
  main {
    margin-left: 10rem;
    margin-right: 10rem;
    box-shadow: 0 0 10px 0px;
    border-radius: 1rem;
    margin-bottom: 1rem;
    background: white;
  }
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
}
footer a {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin-left: 1rem;
  line-height: 1.5rem;
  color: white;
}
@media (min-width: 1265px) {
  footer a {
    margin: 2rem;
  }
}
@media (min-width: 1265px) {
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    flex-direction: row;
  }
}

.titreFooter {
  font-family: "Shrikhand", sans-serif;
  font-weight: normal;
  color: white;
  font-size: 20px;
  padding: 1rem;
}
@media (min-width: 1265px) {
  .titreFooter {
    font-size: 2.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
