@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap");
.textCenter {
  text-align: center;
}

.textGras {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
}

.textMajuscule {
  text-transform: uppercase;
}

.textEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
header h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
}
header .fas {
  position: absolute;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

h1 {
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
}

.margin0 {
  margin: 0;
}

.margin1REM {
  margin: 1rem;
}

.padding0 {
  padding: 0;
}

.alignementCentral {
  display: flex;
  justify-content: center;
  align-items: center;
}

.padding1REM {
  padding: 1rem;
}

.padding2REM {
  padding: 2rem;
}

.localisation {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border-top: #d2d2d2 3px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #eaeaea;
}

.fas {
  margin-right: 1rem;
}

.background {
  background-color: #f6f6f6;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  background: linear-gradient(360deg, #b579ff, #FF79DA);
  border-radius: 2rem;
  padding: 1rem 2rem 1rem 2rem;
  color: white;
  border: none;
  box-shadow: 0px 4px 20px -10px black;
}
.btn:active {
  box-shadow: 0px 0px 0px 3px #FF79DA;
}

#fonctionnement {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.divFonctionnement {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: normal;
  background-color: #f6f6f6;
  padding: 26px;
  margin: 2rem;
  border-radius: 2rem;
  position: relative;
  box-shadow: 0px 4px 20px -10px black;
}

.numeroFonctionnement {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: #9356DC;
  color: white;
  border-radius: 10rem;
  left: -15px;
}

#restaurants {
  padding-bottom: 2rem;
}
#restaurants a {
  color: black;
}

.card {
  background-color: white;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 4px 20px -10px black;
}
.card img {
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  height: 170px;
  object-fit: cover;
}
.card .nomRestaurant {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.card .cardText {
  padding: 1rem;
  line-height: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.card p {
  margin: 0;
}
.card .far {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: black;
}

#pageRestaurant .card {
  padding: 10px;
  white-space: nowrap;
  line-height: 1.5rem;
}
#pageRestaurant .card span {
  font-size: 14px;
}
#pageRestaurant .card span:first-child {
  width: 80%;
}

.justifyBetween {
  display: flex;
  justify-content: space-between;
}

.cardRestaurant {
  position: relative;
  top: -3rem;
  border-radius: 1rem;
  padding-top: 1rem;
}
.cardRestaurant h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: normal;
  display: flex;
  justify-content: space-between;
  font-size: 1.7rem;
}

.blocMenu {
  padding-bottom: 1rem;
}

.textSouligne {
  box-shadow: 0px 3px 0px 0px #99E2D0;
  width: 2.5rem;
}

.img {
  width: 100%;
  height: 270px;
  object-fit: cover;
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
}
footer a {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin-left: 1rem;
  line-height: 1.5rem;
  color: white;
}

.titreFooter {
  font-family: "Shrikhand", sans-serif;
  font-weight: normal;
  color: white;
  font-size: 20px;
  padding: 1rem;
}

/*# sourceMappingURL=style.css.map */
