body{
  @include font;
}

h1{
  padding: 1rem;
  @include font(800);
}

.margin0{
  margin: 0;
}

.margin1REM{
  margin: 1rem;
}

.padding0{
  padding: 0;
}

.alignementCentral{
  @include alignementCentral;
}

.textCenter{
  text-align: center;
}

.padding1REM{
  padding: 1rem;
}

.padding2REM{
  padding: 2rem;
}


.localisation{
  @include font(500);
  border-top: #d2d2d2 3px solid;
  @include alignementCentral;
  padding: 1rem;
  background-color: #eaeaea;
}

.fas{
  margin-right: 1rem;
}

.background{
  background-color: $couleurBackground;
}

.btn{
  @include font(500);
  background-color: $couleurPrimaire;
  border-radius: 2rem;
  padding: 1rem 2rem 1rem 2rem; //padding: haut droite bas gauche
  color: white;
  border: none;
  @include boxShadow;
  &:active{
    box-shadow: 0px 0px 0px 3px $couleurSecondaire;
  }
}

#fonctionnement{
  @include font(500);
}

.divFonctionnement{
  @include alignementCentral;
  justify-content: normal;
  background-color: $couleurBackground;
  padding: 2rem;
  margin: 2rem;
  border-radius: 2rem;
  position: relative;
  @include boxShadow;
}

.numeroFonctionnement{
  @include alignementCentral;
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: $couleurPrimaire;
  color: white;
  border-radius: 10rem;
  left: -15px   ;
}

#restaurants{
  padding-bottom: 2rem;
  a{
    color: black;
  }
}

.card{
  background-color: white;
  margin: 1rem;
  border-radius: 1rem;
  @include boxShadow;
  img{
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 170px;
    object-fit: cover;
  }
  .nomRestaurant{
    @include font(700)
  }
  .cardText{
    padding: 1rem;
    line-height: 1.5rem;
    @include justifyBetween;
  }
  p{
    margin: 0;
  }
  .far{
    font-size: 1.5rem;
  }
}

a{
  text-decoration: none;
}

#pageRestaurant{
  .card{
    padding: 1rem;
    white-space: nowrap;
  }
}

.justifyBetween{
  @include justifyBetween;
}

.cardRestaurant{
  h1{
    @include policeLogo;
    @include justifyBetween;
    letter-spacing: 1px;
    font-size: 1.7rem;
  }
  position: relative;
  top: -3rem;
  border-radius: 1rem;
  padding-bottom: 3rem;
  padding-top: 1rem;
}

.textSouligne{
  box-shadow: 0px 3px 0px 0px $couleurTertiaire;
  width: 2.5rem;
}
.img{
  width: 100%;
}

footer{
  background-color: $couleurFooter;
  display: flex;
  flex-direction: column;
  a{
    @include font;
    margin-left: 1rem;
    line-height: 1.5rem;
    color: white;
  }
}

.titreFooter{
  @include policeLogo;
  color: white;
  font-size: 20px;
  padding: 1rem;
}


