body{
  @include font;
}

h1{
  padding: 1rem;
  @include font(800);
}

.margin0{
  margin: 0;
}

.margin1REM{
  margin: 1rem;
}

.padding0{
  padding: 0;
}

.alignementCentral{
  @include alignementCentral;
}

.padding1REM{
  padding: 1rem;
}

.padding2REM{
  padding: 2rem;
}
.localisation{
  @include font(500);
  border-top: #d2d2d2 3px solid;
  @include alignementCentral;
  padding: 1rem;
  background-color: #eaeaea;
  @include responsive(ordinateur){
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
  }
}

.fas{
  margin-right: 1rem;
}

.background{
  background-color: $couleurBackground;
}

.btn{
  @include font(500);
  cursor: pointer;
  font-size: 1rem;
  background: linear-gradient(360deg, $couleurPrimaire, $couleurSecondaire);
  border-radius: 2rem;
  padding: 1rem 2rem 1rem 2rem; //padding: haut droite bas gauche
  color: white;
  border: none;
  @include boxShadow;
  &:hover{
  filter: brightness(1.10);
    box-shadow: 0px 8px 28px -8px black;
    //box-shadow: 0px 0px 0px 3px $couleurSecondaire;
  }
}

#reserverMenu{
  @include responsive(ordinateur){
    & > .background{
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }
  }
}

#fonctionnement{
  @include font(500);
  @include responsive(ordinateur){
    display: flex;
    align-items: center;
  }
}

.divFonctionnement{
  @include alignementCentral;
  justify-content: normal;
  background-color: $couleurBackground;
  padding: 26px;
  margin: 2rem;
  border-radius: 2rem;
  position: relative;
  @include boxShadow;
  @include responsive(ordinateur){
    width: 30%;
  }
}

.numeroFonctionnement{
  @include alignementCentral;
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: $couleurPrimaire;
  color: white;
  border-radius: 10rem;
  left: -15px   ;
}

#restaurants{
  padding-bottom: 2rem;
  a{
    color: black;
  }
  @include responsive(ordinateur){
    border-radius: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
}

.marginCoeur{
  margin-right: 2rem;
}

.fa-heart{
  @include responsive(ordinateur){
    font-size: 2rem;
  }

}

.card{
  background-color: white;
  margin: 1rem;
  border-radius: 1rem;
  @include boxShadow;
  img{
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 170px;
    object-fit: cover;
  }
  .nomRestaurant{
    @include font(700)
  }
  .cardText{
    padding: 1rem;
    line-height: 1.5rem;
    @include justifyBetween;
  }
  p{
    margin: 0;
  }
  .far, .fas{
    font-size: 1.5rem;
  }

  @include responsive(tablette){
    width: 40%;
  }

  @include responsive(ordinateur){
    width: 20%;
  }

}

.groupCard{
  @include responsive(tablette){


  @include alignementCentral;

    flex-wrap: wrap;
  }
}

a{
  text-decoration: none;
  color: black;
}

#pageRestaurant{
  .card{
    padding: 10px ;
    white-space: nowrap;
    line-height: 1.5rem;
    span{
      font-size: 14px;
      &:first-child{
        width: 80%;
      }
    }
    @include responsive(tablette){
      width: auto;
    }

  }
  @include responsive(ordinateur){
    border-radius: 1rem;
  }
}

.groupMenu{
  @include responsive(tablette){
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

}

.width100{
  width: 100%;
}

.justifyBetween{
  @include justifyBetween;
}

.cardRestaurant{
  h1{
    @include policeLogo;
    @include justifyBetween;
    font-size: 1.7rem;
  }
  position: relative;
  top: -3rem;
  border-radius: 1rem;
  padding-top: 1rem;
}

.blocMenu{
  padding-bottom: 1rem;
  @include responsive(tablette){
    width: 33%;
  }
}

.textSouligne{
  box-shadow: 0px 3px 0px 0px $couleurTertiaire;
  width: 2.5rem;
}
.img{
  width: 100%;
  height: 270px;
  object-fit: cover;
  @include responsive(ordinateur){
    border-radius: 1rem;
  }
}

main{
  @include responsive(ordinateur){
    margin-left: 10rem;
    margin-right: 10rem;
    box-shadow: 0 0 10px 0px;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }
}




