body{
  @include font;
}

h1{
  padding: 1rem;
  @include font(800);
}

.margin0{
  margin: 0;
}

.padding0{
  padding: 0;
}

.alignementCentral{
  @include alignementCentral;
}

.textCenter{
  text-align: center;
}

.padding1REM{
  padding: 1rem;
}

.padding2REM{
  padding: 2rem;
}


.localisation{
  @include font(500);
  border-top: #d2d2d2 3px solid;
  @include alignementCentral;
  padding: 1rem;
  background-color: #eaeaea;
}

.fas{
  margin-right: 1rem;
}

.background{
  background-color: $couleurBackground;
}

.btn{
  @include font(500);
  background-color: $couleurPrimaire;
  border-radius: 2rem;
  padding: 1rem 2rem 1rem 2rem; //padding: haut droite bas gauche
  color: white;
  border: none;
  @include boxShadow;
  &:active{
    box-shadow: 0px 0px 0px 3px $couleurSecondaire;
  }
}

#fonctionnement{
  @include font(500);
}

.divFonctionnement{
  @include alignementCentral;
  justify-content: normal;
  background-color: $couleurBackground;
  padding: 2rem;
  margin: 2rem;
  border-radius: 2rem;
  position: relative;
  @include boxShadow;
}

.numeroFonctionnement{
  @include alignementCentral;
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: $couleurPrimaire;
  color: white;
  border-radius: 10rem;
  left: -15px   ;
}

#restaurants{
  padding-bottom: 1rem;
}

.card{
  background-color: white;
  margin: 1rem;
  border-radius: 1rem;
  img{
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  .nomRestaurant{
    @include font(700)
  }
  .cardText{
    padding: 1rem;
    line-height: 1.5rem;
    display: flex;
    justify-content: space-between;
  }
  p{
    margin: 0;
  }
}


