footer{
  background-color: $couleurFooter;
  display: flex;
  flex-direction: column;
  a{
    @include font;
    margin-left: 1rem;
    line-height: 1.5rem;
    color: white;
    @include responsive(ordinateur){
      margin: 2rem;
    }
  }
  @include responsive(ordinateur){
    @include alignementCentral;
    font-size: 1.2rem;
    flex-direction: row;
  }
}

.titreFooter{
  @include policeLogo;
  color: white;
  font-size: 20px;
  padding: 1rem;
  @include responsive(ordinateur){
    font-size: 2.5rem;
  }
}
