header{
  @include alignementCentral;
  padding: 1rem;
  h1{
    @include policeLogo;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
    @include responsive(ordinateur){
      text-shadow: 6px 4px 2px white;
      font-size: 4rem;
    }
  }
  .fas{
    position: absolute;
    @include responsive(tablette){
      font-size: 2rem;
      position: initial;
    }
    @include responsive(ordinateur){
      text-shadow: 4px 3px 4px white;
    }
  }
}
